<div class="container">
    <mat-grid-list cols="6" rowHeight="4:1" >
        
        <mat-grid-tile>
            <div><a [routerLink]= "['/home']">Volver a Home</a></div>
        </mat-grid-tile>
        
        
        <mat-grid-tile>
            
        </mat-grid-tile>

        <mat-grid-list></mat-grid-list>
        <mat-grid-list></mat-grid-list>
        <mat-grid-list></mat-grid-list>
        <mat-grid-list>
            <!-- <div><a [routerLink]= "['/nuevo-experto']">Crear nuevo experto</a></div> -->
            <button type="button" class="btn btn-success" (click)="irPaginaCrearExperto()">Nuevo experto</button>

        </mat-grid-list>



    </mat-grid-list>
</div>



<!-- <hr class="my-4"> -->
<div class="container">
    <mat-divider></mat-divider>

    <div class="container text-center">
        <h1><b>Listado de expertos</b></h1>
    </div>

    <mat-divider></mat-divider>
    <!-- ==================================================================== -->
    <!-- Se genera el listado de tareas existentes -->

    <mat-grid-list cols="6" rowHeight="4:1" >
        
        <mat-grid-tile><b>Nombre</b></mat-grid-tile>
        <mat-grid-tile><b>Estado</b></mat-grid-tile>
        <mat-grid-tile><b>Etiquetas</b></mat-grid-tile>
        <mat-grid-tile><b>Valoración</b></mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>

    <mat-grid-list cols="6" rowHeight="4:1" >
        <mat-grid-tile>
            <input [(ngModel)]="nombreBusq" (keyup)="busquedaNombre()" placeholder="Filtrar por Nombre" size="15"/>
        </mat-grid-tile>





        <mat-grid-tile>
            <mat-form-field >
                <mat-label></mat-label>
                <select matNativeControl (change)="selectCar($event)">
                    <option value=""></option>
                    <option *ngFor="let option of cars" [value]="option.value"
                        [selected]="selectedCar === option.value">{{ option.viewValue }}</option>
                </select>
            </mat-form-field>
        </mat-grid-tile>





        <mat-grid-tile>

            <input [(ngModel)]="etiquetaBusq" (keyup)="busquedaEtiqueta()" placeholder="Filtrar por Etiqueta" size="15"/>
        </mat-grid-tile>


        <mat-grid-tile>
            <mat-form-field >
                <mat-label></mat-label>
                <select matNativeControl (change)="selectedValoracion($event)">
                    <option value=""></option>
                    <option *ngFor="let option of valoresVal" [value]="option.value"
                        [selected]="selectedCar === option.value">{{ option.viewValue }}</option>
                </select>
            </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>
        
    </mat-grid-list>

    <mat-divider></mat-divider>





    <div>
        <app-linea-experto *ngFor="let e of arrayExpertos" [experto]="e"></app-linea-experto>
    </div>


        <button (click)="paginaAnterior()" disabled="{{this.botonAntActivo}}"><</button>
        <button (click)="paginaSiguiente()"            disabled="{{this.botonSigActivo}}"                            >></button>
        <p>Página: {{this.paginaActual + 1}} de {{this.totalPaginas}}</p>
        
        Elementos por página:<select [(ngModel)]="checkboxValue" (change)="elementosPorPagina(checkboxValue)" >
            <!-- <option value="3" selected>3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="50">50</option> -->

            <option value="10" selected>10</option>
            <option value="25">25</option>
            <option value="50">50</option>


        </select>

</div>

<div class="overlay" *ngIf="spinner">
    <div class="spinner ">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" height="25%" width="25%"/>
    </div>    
</div>

<hr>